# Altium junk
History/
Project Outputs*/
Project Logs*/
__Previews/
*.tmp
*.bak
*.~*
*.metadata
*.PrjPcbStructure
*.PrjMbdStructure

# OS junk
Thumbs.db
.DS_Store

# Python cache files
__pycache__/
*.py[cod]

# Editable install / package metadata
*.egg-info/

# Virtual environments
.venv/

# Test / coverage
.pytest_cache/
.coverage

# IDEs
.vscode/
.idea/

# STM32CubeIDE
.settings/
*.launch
Debug/

# LTSpice
*.log
*.raw